body {
	background-color:#9dc4a0;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #9dc4a0;
}

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;

  width: 200px;
  height: 200px;

  font-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}